.bg-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
    background-color: #555; 
  }
.form-container {
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #d5b3b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #f21d1d;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.error-message {
  color: #e74c3c;
  font-size: 0.875em;
  margin-top: 5px;
}
button {
    width: 50%; 
    padding: 10px;
    background-color: rgba(226, 20, 20, 0.787); 
    border: 2px solid rgba(226, 20, 20, 0.787); 
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
  }
  
  button:hover {
    background-color: transparent; 
    border-color:2px solid #e72c06;
    color: #333;
  }
  
.show-password {
  position: relative;
}

.show-password-icon {
  position: absolute;
  right: 35px;
  top: 48%;
  cursor: pointer;
}
